.color-gallery.list-cards.markdown-preview-view div .transition-effects {
  transition: background-color 0.3s ease, box-shadow 0.25s ease;
}
.color-gallery.list-cards.markdown-preview-view div > ul > li {
  --cards-background: #fff;
}
.color-gallery.list-cards.markdown-preview-view div ul ul > li {
  display: inline;
}
.color-gallery.list-cards.markdown-preview-view div ul ul > li button {
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.icon-gallery .HyperMD-list-line.HyperMD-list-line-1.cm-line {
  max-width: 200vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon-gallery.list-cards.markdown-preview-view div > ul > li {
  --cards-padding: 20px;
  font-size: 24px;
  aspect-ratio: 1;
  width: 100%;
}
.icon-gallery.list-cards.markdown-preview-view div > ul > li > ul > li {
  display: none;
}
.icon-gallery.list-cards.markdown-preview-view [class*="loader-"] {
  --loader-size: 100%;
  --loader-font-size: 1em;
}
.workspace-ribbon.side-dock-ribbon.mod-right {
  --ribbon-width: 10px;
  width: var(--ribbon-width);
  display: flex;
}
.workspace-split.mod-horizontal.mod-sidedock.mod-right-split,
.workspace-split.mod-horizontal.mod-sidedock.mod-left-split,
.workspace-split.mod-vertical.mod-root {
  transition: width 0.2s ease !important;
}
.workspace-split.mod-horizontal.mod-sidedock.mod-right-split.is-sidedock-collapsed,
.workspace-split.mod-horizontal.mod-sidedock.mod-left-split.is-sidedock-collapsed,
.workspace-split.mod-vertical.mod-root.is-sidedock-collapsed {
  display: inline-flex !important;
}
.metadata-property-value {
  transition: width 0.2s ease;
}
