/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.ic {
    white-space: nowrap;
    color: whitesmoke;
    background-color: rgba(221, 96, 11, 1);
    border-radius: 0.3em;
    padding: 1px 4px 2px 4px;
    box-shadow: 1px 1px 2px #cccccc;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.ic:active {
    box-shadow: -1px -1.5px 2px #333333 inset;
    text-shadow: -1px -1.5px 2px #333333;
}