span.cpb:not(:has(*)) {
  color: white;
  line-height: 2em;
  padding: 0px 4px 0px 4px;
  border-radius: 0.2em;
  box-shadow: 1px 1px 2px #cccccc;
  background-color: #dd600b;
  cursor: pointer;
}
span.cpb:not(:has(*)):active {
  box-shadow: -1px -1.5px 2px #333333 inset;
  text-shadow: -1px -1.5px 2px #333333;
}
:is(span.cpb span) img {
  border-image-source: radial-gradient(60% 80%, transparent 0px, transparent 100%, #dd600b 100%);
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  border-image-outset: 1px;
  border-image: 10px;
  border-radius: 10px;
  cursor: pointer !important;
}
:is(span.cpb span) img:active {
  border-image-outset: 4px;
}
.color-gallery.list-cards.markdown-preview-view div .transition-effects {
  transition: background-color 0.3s ease, box-shadow 0.25s ease;
}
.color-gallery.list-cards.markdown-preview-view div > ul > li {
  --cards-background: #fff;
}
.color-gallery.list-cards.markdown-preview-view div ul ul > li {
  display: inline;
}
.color-gallery.list-cards.markdown-preview-view div ul ul > li button {
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.workspace-ribbon.side-dock-ribbon.mod-right {
  --ribbon-width: 10px;
  width: var(--ribbon-width);
  display: flex;
}
.workspace-split.mod-horizontal.mod-sidedock.mod-right-split,
.workspace-split.mod-horizontal.mod-sidedock.mod-left-split,
.workspace-split.mod-vertical.mod-root {
  transition: width 0.35s ease-out !important;
}
.callout.drop-shadow {
  box-shadow: 0 0.1rem 0.3rem var(--background-modifier-box-shadow);
}
