// click-copy block
span.cpb:not(:has(*)) {
    color: white;
    line-height: 2em;
    // white-space: nowrap;
    padding: 0px 4px 0px 4px;
    border-radius: 0.2em;
    box-shadow: 1px 1px 2px #cccccc;
    background-color: rgb(221, 96, 11);
    cursor: pointer;

    &:active {
        box-shadow: -1px -1.5px 2px #333333 inset;
        text-shadow: -1px -1.5px 2px #333333;
    }
}

:is(span.cpb span) img {
    border-image-source: radial-gradient(60% 80%,
            transparent 0px,
            transparent 100%,
            rgb(221, 96, 11) 100%);
    border-image-slice: 1;
    border-width: 3px; //粗细
    border-style: solid;
    border-image-outset: 1px;
    border-image: 10px;
    border-radius: 10px;
    cursor: pointer !important;

    &:active {
        border-image-outset: 4px;
    }
}


// color gallery 
.color-gallery.list-cards.markdown-preview-view div {
    .transition-effects {
        transition: background-color 0.3s ease, box-shadow 0.25s ease;
    }

    &>ul>li {
        --cards-background: #fff;
    }

    ul ul>li {
        display: inline;

        button {
            cursor: pointer;
            width: 3em;
            height: 3em;
            border-radius: 50%;
        }
    }
}

// hover toggle sidebars
// right ribbon
.workspace-ribbon.side-dock-ribbon.mod-right {
    --ribbon-width: 10px;
    width: var(--ribbon-width);
    display: flex;
}

// TODO 有卡顿的bug
// 强制改变侧边栏 toggle 过渡效果 
.workspace-split.mod-horizontal.mod-sidedock.mod-right-split,
.workspace-split.mod-horizontal.mod-sidedock.mod-left-split,
.workspace-split.mod-vertical.mod-root {
    transition: width .35s ease-out !important;

    // &.is-sidedock-collapsed {
    //     display: inline-flex !important;
    // }
}

.callout.drop-shadow {
    // box-shadow: 0 .2rem .5rem var(--background-modifier-box-shadow);
    box-shadow: 0 .1rem .3rem var(--background-modifier-box-shadow);
}